<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name = "hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name = "hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name = "hibernate.connection.url">jdbc:mysql://localhost/hib</property>
        <property name = "hibernate.connection.username">root</property>
        <property name = "hibernate.connection.password">root</property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">5</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">false</property>

        <property name="hibernate.id.new_generator_mappings">false</property>
        <property name="hibernate.hbm2ddl.auto">validate</property><!-- creates schema from entities each app deploy  -->

        <!-- List of XML mapping files -->
        <mapping resource="org/example/entity/User.hbm.xml"/>

        <!-- no inheritance -->
        <mapping class="org.example.entity.inheritance.no_inheritance.UserNoInheritance" />
        <mapping class="org.example.entity.inheritance.no_inheritance.ProductNoInheritance" />

        <!-- inheritance single table -->
        <mapping class="org.example.entity.inheritance.single_table.BaseSingleTable" />
        <mapping class="org.example.entity.inheritance.single_table.ProductSingleTable" />
        <mapping class="org.example.entity.inheritance.single_table.UserSingleTable" />

        <!-- inheritance table per class -->
        <mapping class="org.example.entity.inheritance.table_per_class.BaseTablePerClass" />
        <mapping class="org.example.entity.inheritance.table_per_class.ProductTablePerClass" />
        <mapping class="org.example.entity.inheritance.table_per_class.UserTablePerClass" />

        <!-- inheritance joined -->
        <mapping class="org.example.entity.inheritance.joined.BaseJoined" />
        <mapping class="org.example.entity.inheritance.joined.ProductJoined" />
        <mapping class="org.example.entity.inheritance.joined.UserJoined" />

        <!-- relations joinColumn -->
        <mapping class="org.example.entity.relations.OneToMany.JoinColumn.NotCascade.ClassRoom" />
        <mapping class="org.example.entity.relations.OneToMany.JoinColumn.NotCascade.Pupil" />

    </session-factory>
</hibernate-configuration>