<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name="hibernate.connection.driver_class">com.p6spy.engine.spy.P6SpyDriver</property>
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.connection.password">password</property>
        <property name="hibernate.connection.url">jdbc:p6spy:h2:mem:test;DB_CLOSE_ON_EXIT=FALSE</property>
        <property name="hibernate.dialect">org.hibernate.dialect.H2Dialect</property>
        <property name="show_sql">false</property><!-- config in log4j -->
        <property name="format_sql">true</property>
        <property name="connection.pool_size">10</property>
        <property name="hibernate.id.new_generator_mappings">false</property>
        <property name="hibernate.hbm2ddl.auto">create</property><!-- creates schema from entities each app deploy  -->

        <!-- List of XML mapping files -->
        <mapping resource="org/example/entity/User.hbm.xml"/>

        <!-- no inheritance -->
        <mapping class="org.example.entity.inheritance.no_inheritance.UserNoInheritance" />
        <mapping class="org.example.entity.inheritance.no_inheritance.ProductNoInheritance" />

        <!-- inheritance single table -->
        <mapping class="org.example.entity.inheritance.single_table.BaseSingleTable" />
        <mapping class="org.example.entity.inheritance.single_table.ProductSingleTable" />
        <mapping class="org.example.entity.inheritance.single_table.UserSingleTable" />

        <!-- inheritance table per class -->
        <mapping class="org.example.entity.inheritance.table_per_class.BaseTablePerClass" />
        <mapping class="org.example.entity.inheritance.table_per_class.ProductTablePerClass" />
        <mapping class="org.example.entity.inheritance.table_per_class.UserTablePerClass" />

        <!-- inheritance joined -->
        <mapping class="org.example.entity.inheritance.joined.BaseJoined" />
        <mapping class="org.example.entity.inheritance.joined.ProductJoined" />
        <mapping class="org.example.entity.inheritance.joined.UserJoined" />

    </session-factory>
</hibernate-configuration>