<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name="hibernate.connection.driver_class">org.h2.Driver</property>
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.connection.password">password</property>
        <property name="hibernate.connection.url">jdbc:h2:mem:test</property>
        <property name="hibernate.dialect">org.hibernate.dialect.H2Dialect</property>
        <property name="show_sql">true</property>
        <property name="connection.pool_size">1</property>
        <property name="hibernate.id.new_generator_mappings">false</property>
        <property name="hibernate.hbm2ddl.auto">create</property><!-- creates schema from entities each app deploy  -->

        <!-- List of XML mapping files -->
        <mapping resource="org/example/entity/User.hbm.xml"/>

    </session-factory>
</hibernate-configuration>